body {
  background: url('../assets/leaves.svg') no-repeat top right;
  background-size: 60vw 60vw;
  background-position: 55vw -10vw;
}

ion-content {
  --background: none;
}

ion-header {
  background-color: rgba(255, 255, 255, 0.1);
}

ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}
