.about {
  &-hero {
    margin: 1rem auto;
    text-align: center;

    h1 {
      font-weight: normal;
      padding-bottom: 0;

      ion-icon {
        font-size: 64px;
        padding: 0 0.5rem;
      }
    }

    h2 {
      padding: 0;
      margin: 0;
      font-size: 1.3rem;
    }
  }
}
